body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: rgb(92, 70, 50);
  background-color: rgb(245, 240, 240);
  background-size: cover;
}

a:link {
  color: coral !important;
}

a:visited {
  color: coral !important;
}

.addAReview{
  padding-top:1%;
  paddinf-left:80%;
  
}

a:hover {
  color: rgb(46, 2, 2) !important;
}

.bodyThings {
  background-image: url("/images/Capturebg.PNG");
  background-repeat: no-repeat;
  background-size: cover;
  height: 589px;
}

.header {
  display: flexbox;
  justify-content: space-evenly;
  /* position: fixed; */
}

.introText {
  padding: 1.5% 1.5% 1.5% 1.5%;
  margin-top: auto;
  margin-bottom: auto;
  background-color: white;
  opacity: 70%;
  border: 2px solid;
  border-radius: 10px;
  border-color: rgb(56, 23, 3);
}

.introProfile {
  text-align: center;
  padding: 1.5% 1.5% 1.5% 1.5%;
  background-color: white;
  opacity: 70%;
  border: 2px solid;
  border-radius: 10px;
  border-color: rgb(56, 23, 3);
}

.quizOne {
  padding: 1.5% 1.5% 1.5% 1.5%;
  margin-top: auto;
  margin-bottom: auto;
  background-color: white;
  opacity: 70%;
  border: 2px solid;
  border-radius: 10px;
  border-color: rgb(56, 23, 3);
}

.permanentLinks {
  margin-top: 3%;
  display: flex;
  justify-content: space-evenly;
}

.navigation {
  color: orange;
}

.nav-link {
  color: orange;
}

.addP {
  padding-left: 5%;
  padding-bottom: 1%;
}

.intro {
  margin-top: 5%;
  padding-top: 2%;
  margin-bottom: 5%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 500px;
}

.smallQuiz {
  padding-left: 35%;
}

.introQuizOne {
  margin-top: 5%;
  padding-top: 2%;
  margin-bottom: 5%;
  margin-right: auto;
  margin-left: auto;
  width: 500px;
}

.createBttn {
  display: flex;
  justify-content: center;
}

.routinePage{
  padding-left: 5%;
}

.updatePage {
  padding-top: 1%;
  background-color: peachpuff;
  border: 2px solid;
  border-radius: 10px;
  opacity: 90%;
  border-color: rgb(56, 23, 3);
}

.productDet{
  padding-left:5%;
}

.card-body {
  display: flex;
  justify-content: center;
}

.card-title {
  align-self: center;
}

.sessionNav {
  margin-top: 3%;
  display: flex;
  justify-content: space-evenly;
  width: 380px;
}
.favs {
  background-color: red;
}

.whole-profile {
  border: 2px solid;
  border-radius: 10px;
  border-color: rgb(56, 23, 3);
}
.profile-header {
  background-color: rgba(48, 29, 14, 0.808);
  border: 2px solid;
  border-radius: 10px;
  border-color: rgb(56, 23, 3);
  opacity: 80%;
  color: white;
  text-align: center;
}
.fav-details {
  margin-left: 25%;
  margin-right: 25%;
}

.routinePage{
  padding-left: 5%;
}


.delete {
  margin-left: 38%;
  margin-right: 38%;
}

.favResults {
  margin-left: 30%;
  margin-right: 30%;
}

.list {
  height: 450px;
}

.pro {
  padding-left: 50px;
}

label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
