<form action="/quiz3" method="POST">
<div>
<p>What is you budget:</p>

    <input type="radio" id="budget" name="budget" value="15 euros at most">
  <label for="fast">Less than 15 euros</label><br>
  <input type="radio" id="budget" name="budget" value="30 euros at most">
  <label for="fast">Less than 30 euros</label><br>
  <input type="radio" id="budget" name="budget" value="50 euros at most ">
  <label for="short">Less than 50 euros</label><br>
  <input type="radio" id="budget" name="budget" value="100 euros at most">
  <label for="long">Less than 100 euros</label>
  <input type="submit" value="See Results!">
  </form>
</div>