<div>
<p>What is you budget:</p>
<form>
  <input type="radio" id="fast" name="time" value="Fast">
  <label for="fast">Less than 10 mins</label><br>
  <input type="radio" id="short" name="time" value="Short">
  <label for="short">Less than 30 mins</label><br>
  <input type="radio" id="long" name="time" value="Long">
  <label for="long">More than 30 mins</label>
  </form>
</div>