<form action="/quiz3" method="POST">
  <div>
    <p>What is you budget:</p>

    <input type="radio" id="budget" name="budget" value="15 euros at most">
    <label for="budget">Less than 15 euros</label><br>
    <input type="radio" id="budget2" name="budget" value="30 euros at most">
    <label for="budget2">Less than 30 euros</label><br>
    <input type="radio" id="budge3t" name="budget" value="50 euros at most ">
    <label for="budget3">Less than 50 euros</label><br>
    <input type="radio" id="budget4" name="budget" value="100 euros at most">
    <label for="budget4">Less than 100 euros</label>
    <input type="submit" value="See Results!">
</form>
</div>