





<div>
<p>What is your experience with skin care routines:</p>
{{!-- <form>
  <input type="radio" id="newbie" name="newbie" value="Newbie">
  <label for="html">Newbie</label><br>
  <input type="radio" id="casual" name="casual" value="Casual">
  <label for="css">casual enjoyer</label><br>
  <input type="radio" id="pro" name="pro" value="Pro">
  <label for="javascript">Pro</label>
  </form>
</div> --}}

<form action="">
  <label>Newbie</label>
  <input type="radio" name="experience" value="Newbie" >
  <label>Casual Enjoyer</label>
  <input type="radio" name="experience" value="Casual">
  <label>Pro</label>
  <input type="radio" name="experience" value="Pro">
</form>

<br>
<div>
<p>What is your skin care goals, choose one or more:</p>
<form>
  <input type="radio" id="newbie" name="newbie" value="Newbie">
  <label for="html">Newbie</label><br>
  <input type="radio" id="casual" name="casual" value="Casual">
  <label for="css">casual enjoyer</label><br>
  <input type="radio" id="pro" name="pro" value="Pro">
  <label for="javascript">Pro</label>
  </form>
</div>

<div>
<p>How commited are you to a new routine:</p>
<form>
  <input type="radio" id="newbie" name="very-little-time" value="Newbie">
  <label for="html">Newbie</label><br>
  <input type="radio" id="casual" name="a-bit-of-time" value="Casual">
  <label for="css">casual enjoyer</label><br>
  <input type="radio" id="pro" name="as-much-as-possible" value="Pro">
  <label for="javascript">Pro</label>
  </form>
</div>
<div>
<p>How commited are you to a new routine:</p>
<form>
  <input type="radio" id="newbie" name="very-little-time" value="Newbie">
  <label for="html">Newbie</label><br>
  <input type="radio" id="casual" name="a-bit-of-time" value="Casual">
  <label for="css">casual enjoyer</label><br>
  <input type="radio" id="pro" name="as-much-as-possible" value="Pro">
  <label for="javascript">Pro</label>
  </form>
</div>