





<div>
<p>What is your experience with skin care routines:</p>
<form>
  <input type="radio" id="newbie" name="experience" value="Newbie">
  <label for="html">Newbie</label><br>
  <input type="radio" id="casual" name="experience" value="Casual">
  <label for="css">casual enjoyer</label><br>
  <input type="radio" id="pro" name="experience" value="Pro">
  <label for="javascript">Pro</label>
  </form>
<br>
<div>
<p>What is your skin care goals, choose one or more:</p>
<form>
  <input type="checkbox" id="option1" name="option1" value="Option1">
  <label for="option1"> Option 1</label><br>
  <input type="checkbox" id="vehicle2" name="option2" value="Option2">
  <label for="option2">Optuion 2</label><br>
  <input type="checkbox" id="vehicle3" name="option3" value="Option3">
  <label for="option3"> Option 3</label>
</form>
</div>
<br>
<div>
<p>How commited are you to a new routine:</p>
<form>
  <input type="radio" id="fast" name="time" value="Fast">
  <label for="fast">Fast (not much, 5-10 min)</label><br>
  <input type="radio" id="short" name="time" value="Short">
  <label for="short">A short ammount of time(10 - 20 min)</label><br>
  <input type="radio" id="long" name="time" value="Long">
  <label for="long">As long as possible(30min - 1HR)</label>
  </form>
</div>
<br>
<div>
<p>How commited are you to a new routine:</p>
<form>
  <input type="radio" id="newbie" name="very-little-time" value="Newbie">
  <label for="html">Newbie</label><br>
  <input type="radio" id="casual" name="a-bit-of-time" value="Casual">
  <label for="css">casual enjoyer</label><br>
  <input type="radio" id="pro" name="as-much-as-possible" value="Pro">
  <label for="javascript">Pro</label>
  </form>
</div>



