<div>
<p>What is your experience with skin care routines:</p>
<form>
  <input type="radio" id="newbie" name="experience-with-nothing" value="Newbie">
  <label for="html">Newbie</label><br>
  <input type="radio" id="casual" name="experience-with-some" value="Casual">
  <label for="css">casual enjoyer</label><br>
  <input type="radio" id="pro" name="experience-with-alot" value="Pro">
  <label for="javascript">Pro</label>
  </form>
</div>

<div>
<p>What is your skin care goals, choose one or more:</p>
<form>
  <input type="radio" id="newbie" name="action" value="Newbie">
  <label for="html">Option 1</label><br>
  <input type="radio" id="casual" name="action" value="Casual">
  <label for="css">option 2</label><br>
  <input type="radio" id="pro" name="action" value="Pro">
  <label for="javascript">Option 3</label>
  </form>
</div>

<div>
<p>How commited are you to a new routine:</p>
<form>
  <input type="radio" id="newbie" name="very-little-time" value="Newbie">
  <label for="html">Newbie</label><br>
  <input type="radio" id="casual" name="a-bit-of-time" value="Casual">
  <label for="css">casual enjoyer</label><br>
  <input type="radio" id="pro" name="as-much-as-possible" value="Pro">
  <label for="javascript">Pro</label>
  </form>
</div>