
<div>
<p>What is your experience level with skin care:</p>
<form>
  <input type="radio" id="newbie" name="experience" value="Newbie">
  <label for="html">Beginner</label><br>
  <input type="radio" id="casual" name="experience" value="Casual">
  <label for="css">Intermediate</label><br>
  <input type="radio" id="pro" name="experience" value="Pro">
  <label for="javascript">Advance</label>
  </form>

<br>
<div>
<p>What are your skin care goals, choose one or more:</p>
<form>
  <input type="checkbox" id="option1" name="option1" value="Option1">
  <label for="option1">Preventing further damage both from light/sun and the environment to our skin</label><br>
  <input type="checkbox" id="vehicle2" name="option2" value="Option2">
  <label for="option2">Keeping our skin glowing by optimizing hydration, barrier function and cell turnover, and minimizing irritation;</label><br>
  <input type="checkbox" id="vehicle3" name="option3" value="Option3">
  <label for="option3">Helping to repair past superficial damage to skin.</label>
</form>
</div>

<br>
<div>
<p>How commited are you to a new routine:</p>
<form>
  <input type="radio" id="fast" name="time" value="Fast">
  <label for="fast">Less than 10 mins</label><br>
  <input type="radio" id="short" name="time" value="Short">
  <label for="short">Less than 30 mins</label><br>
  <input type="radio" id="long" name="time" value="Long">
  <label for="long">More than 30 mins</label>
  </form>
</div>

<br>

<div>
<p>Are you following a routine:</p>
<form>
  <input type="radio" id="newbie" name="very-little-time" value="Newbie">
  <label for="html">Yes</label><br>
  <input type="radio" id="casual" name="a-bit-of-time" value="Casual">
  <label for="css">No</label><br>
  </form>
</div>



