<div>
<p>What is your skin type:</p>
<form>
  <input type="radio" id="newbie" name="experience" value="Newbie">
  <label for="html">Normal</label><br>
  <input type="radio" id="casual" name="experience" value="Casual">
  <label for="css">Dry</label><br>
  <input type="radio" id="pro" name="experience" value="Pro">
  <label for="javascript">Oily</label>
   <input type="radio" id="pro" name="experience" value="Pro">
  <label for="javascript">Combination</label>
  </form>
<br>
</div>

