<form action="/quiz2" method="POST">
<div>
<p>What is your skin type:</p>

  <input type="radio" id="type" name="type" value="Normal">
  <label for="html">Normal</label><br>
  <input type="radio" id="type" name="type" value="Dry">
  <label for="css">Dry</label><br>
  <input type="radio" id="type" name="type" value="Oily">
  <label for="javascript">Oily</label>
   <input type="radio" id="type" name="type" value="Combination">
  <label for="javascript">Combination</label>
  <input type="radio" id="type" name="type" value="Sensitive">
  <label for="javascript">Sensitive</label>
  <input type="submit" value="Next">
  </form>
<br>
</div>

