<form action="/quiz2" method="POST">
<div>
<p>What is your skin type:</p>

  <input type="radio" id="type" name="type" value="normal">
  <label for="html">Normal</label><br>
  <input type="radio" id="type" name="type" value="dry">
  <label for="css">Dry</label><br>
  <input type="radio" id="type" name="type" value="oily">
  <label for="javascript">Oily</label>
   <input type="radio" id="type" name="type" value="combination">
  <label for="javascript">Combination</label>
  <input type="radio" id="type" name="type" value="sensitive">
  <label for="javascript">Sensitive</label>
  <input type="submit" value="Next">
  </form>
<br>
</div>

