<h1>My Routine</h1>
<div class="row">
    {{#if time==="ten"}}
<div class="col-md-4">
    <p>Cleanse</p>

</div>
<div class="col-md-4">
    <p>Moisturize</p>

</div>
<div class="col-md-4">
    <p>Protect</p>

</div>
    {{/if}}
   
</div>
<div class="row">
    <p>Based on your goals for your skin, here are some more product recommendations:</p>
    
    <div class="col-md-12">
        
    </div>
</div>
