<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="intro">
                <div class="introText">
<p>Let´s see if we got this right! You are a {{experience}} with skincare, who wants to {{goals}} their skin! You are
    willing to dedicate {{time}} to this and your budget is {{budget}}.</p>
    <br>
    <a href="/my-personal-routine"><button type="button" class="btn btn-dark sm-lg">Yes! Exactly</button></a>
    <a href="/quiz1"><button type="button" class="btn btn-dark sm-lg">Actualy, no.</button></a>

                </div>
            </div>
        </div>
    </div>
</div>






    
    

    