<div class="row">
    <p>Let´s see if we got this right! You are a {{experience}} with skincare, who wants to {{goals}} their skin! You are willing to dedicate {{time}} to this and your budget is {{budget}}.</p>

    <h3>This is our recommendation:</h3>