<div class=row>
    <div class="cl-md-4">
        <p>main section</p>
    </div>
    <div class="cl-md-8">
        <p>all routines</p>
    </div>
</div>
<div class=row>
    <div class="cl-md-4">
        <p>interactions</p>
    </div>
    <div class="cl-md-8">
        <p>favorite products</p>
        <ul>
{{#each favorite}}
<li>
    
    <a href="/{{name}}">{{name}} </a>  
    <br/> 
    
    <form action="/userprofile/{{id}}/delete" method="POST">
        <button type="submit">Delete</button>
    </form>
    </li>
    {{/each}}
</ul>
    </div>
</div>