<container>

    <div class="row">
        <div class="col-md-4">
            <div class="col-md-8 my-routines ">
                <p>All My Routines</p>
                {{#each favorites}}
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Routine</h5>
                        <p class="card-text">You Chose the routine(s) as the best for you.</p>
                        <a href="https://www.sephora.com/shop/skincare" class="card-link">Buy potential products
                            here</a>
                        <form action="/favorites/{{id}}/delete" method="POST">
                            <button type="submit">Delete</button>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="row">
        <p>favorite products</p>
        {{#each favorites}}
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="/images/products.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="favResults">{{name}}</p>
                    <div class="fav-details">
                        <form action="/our-products/{{id}}" method="POST">
                            <button class="addToFavBtn">Product Details</button>
                    </div>
                </div>
                <div class="delete">
                    <form>
                        <form action="/favorites/{{id}}/delete" method="POST">
                            <button type="submit">Delete</button>
                </div>
                </form>
            </div>
        </div>
        {{/each}}
    </div>
    </div>


</container>