<h1>Edit Product</h1>
<form method="POST" action="/products/{{id}}/edit">
    <label>Name</label>
    <input type="text" name="name" value="{{name}}" />
    <label>Brand</label>
    
        <input type="text" name="brand" value="{{brand}}" />
   
    <label>Ingredients</label>
    <textarea rows="5" cols="20" name="ingredient_list">{{ingredient_list}} </textarea>
    <button type="submit">Update</button>
</form>