<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="intro">
                <div class="introText">
<h1>Create a product</h1>
<!-- The method is post because we are creating a book-->
<form action="/create-product" method="POST" enctype="multipart/form-data">
    <label>Name</label>
    <input type="text" name="name" />
    <label>Brand</label>
    <input type="text" name="brand" />
    <label>Ingredients</label>
    <textarea rows="5" cols="20" name="ingredient_list"></textarea>

    <label>Image</label>
    <input type="file" name="image" />


    <button type="submit">Create</button>
</form>
                </div>
            </div>
        </div>
    </div>
</div>




