<h2>Create new Author</h2>
<form action="/create-author" method="POST">
<label>Name</label>
<input type="text" name="name" />

<label>Bio</label>
<input type="text" name="bio" />

<button type="submit">Create</button>
</form>